<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <meta charset="utf-8">
      <title>DDO - Donations Numbers by Day</title>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>

      <!-- BOKEH -->
      <link rel="stylesheet" type="text/css" href="https://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css"/>
      <link rel="stylesheet" type="text/css" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-1.4.0.min.css"/>
      <!--  BOKEH -->
   </head>
   <body>
      <nav class="navbar navbar-dark bg-dark"><span class="navbar-brand mb-0 h1"><div class="container">DDO - Donations Numbers by Day</div></span></nav>
      <div class="container">
         <p></p>
      </div>

<!-- START DATE RANGE CONTAINER -->
      <div class="container">
      <form method="GET">
        <div class="row">
          <div class="col form-group"><label>Start Date:</label>
            <input id="start_date" name="start" type="date" class="form-control" value="{{start_date}}" min="2019-01-01" max="{{max_date}}">
          </div>
           <div class="col form-group"><label>End Date:</label>
             <input id="end_date" name="end" type="date" class="form-control" value="{{end_date}}" min="2019-01-01" max="{{max_date}}">
           </div>
          <div class="col form-group"><label id="message_text">{{message_text}}</label><br>
            <input id="submit_button" type="submit" class="btn btn-success btn-block">
          </div>
        </div>
      </form>
      </div>
<!-- END DATE RANGE CONTAINER -->

      <div class="container">
        {{div1 | safe}}
      </div>
      <div class="container" style="margin-top:3%;">
      </div>
   </body>
   <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-2.1.1.min.js"></script>
   <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-2.1.1.min.js"></script>
   <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-2.1.1.min.js"></script>
   <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-2.1.1.min.js"></script>
   {{script1 | safe}}
</html>
