{% extends 'pricing/pricing_trmc.html' %}

{% block title %}IRC - Pricing Portal (BETA) - data1{% endblock %}


{% block header_title %} ***** IRC ***** Pricing Portal (BETA){% endblock %}


{% block active_link %}
<a class="sidebar-link" href="/pricing/portal/irc"><i class="align-middle mr-2 fas fa-fw fa-home"></i>
  <span class="align-middle">IRC Pricing Portal</span>
    <span class="sidebar-badge badge rounded-pill bg-primary">New</span></a>
{% endblock %}


{% block TAGS_TEMP %}
<div class="card-body">
  <div class="tab">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"><a class="nav-link active" href="#current-tab" data-toggle="tab" role="tab" aria-selected="true">Yellow</a></li>
      <li class="nav-item"><a class="nav-link" href="#white-tab" data-toggle="tab" role="tab" aria-selected="false">White</a></li>
      <li class="nav-item"><a class="nav-link" href="#unit-tab" data-toggle="tab" role="tab" aria-selected="false">Unit Priced(White)</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="current-tab" role="tabpanel">
        <p>Yellow Tagged Items with standard prices...</p>
        <button id="YIBKS" type="button" class="btn yellow-tag btn-lg">Books</button>
        <button id="YIBMM" type="button" class="btn yellow-tag btn-lg">Building Materials</button>
        <button id="YILIT" type="button" class="btn yellow-tag btn-lg">Lighting</button>
        <button id="YITLS" type="button" class="btn yellow-tag btn-lg">Tools</button>
        <button id="YIELC" type="button" class="btn yellow-tag btn-lg">Electronics</button>
        <button id="YIFUR" type="button" class="btn yellow-tag btn-lg">Furniture</button>
        <button id="YIAPL" type="button" class="btn yellow-tag btn-lg">Appliances</button>
        <button id="YIHOW" type="button" class="btn yellow-tag btn-lg">Housewares</button>
        <button id="YIJWL" type="button" class="btn yellow-tag btn-lg">Jewelry</button>
        <button id="YISEA" type="button" class="btn yellow-tag btn-lg">Seasonal</button>
        <button id="YIACS" type="button" class="btn yellow-tag btn-lg">Accessories</button>
        <button id="YICLO" type="button" class="btn yellow-tag btn-lg">Clothing</button>
        <button id="YILIN" type="button" class="btn yellow-tag btn-lg">Linens</button>
        <button id="YISHO" type="button" class="btn yellow-tag btn-lg">Shoes</button>
        <button id="YIHOL" type="button" class="btn yellow-tag btn-lg">Holiday</button>
      </div>
      <div class="tab-pane" id="white-tab" role="tabpanel">
        <p>White tagged items with standard prices. Use these for items that will not automatically go through the automatic discount system.</p>
        <button id="WIBKS" type="button" class="btn white-tag btn-lg">Books</button>
        <button id="WIMOV" type="button" class="btn white-tag btn-lg">Movies</button>
        <button id="WIMUS" type="button" class="btn white-tag btn-lg">Music</button>
        <button id="WIBMM" type="button" class="btn white-tag btn-lg">Building Materials</button>
        <button id="WILIT" type="button" class="btn white-tag btn-lg">Lighting</button>
        <button id="WITLS" type="button" class="btn white-tag btn-lg">Tools</button>
        <button id="WIELC" type="button" class="btn white-tag btn-lg">Electronics</button>
        <button id="WIFUR" type="button" class="btn white-tag btn-lg">Furniture</button>
        <button id="WIAPL" type="button" class="btn white-tag btn-lg">Appliances</button>
        <button id="WIHOW" type="button" class="btn white-tag btn-lg">Housewares</button>
        <button id="WIJWL" type="button" class="btn white-tag btn-lg">Jewelry</button>
        <button id="WISEA" type="button" class="btn white-tag btn-lg">Seasonal</button>
        <button id="WIACS" type="button" class="btn white-tag btn-lg">Accessories</button>
        <button id="WICLO" type="button" class="btn white-tag btn-lg">Clothing</button>
        <button id="WILIN" type="button" class="btn white-tag btn-lg">Linens</button>
        <button id="WISHO" type="button" class="btn white-tag btn-lg">Shoes</button>
        <button id="WIDWS" type="button" class="btn white-tag btn-lg">Doors/Windows</button>
        <button id="WILUM" type="button" class="btn white-tag btn-lg">Lumber</button>
        <button id="WIHOL" type="button" class="btn white-tag btn-lg">Holiday</button>
        <button id="WIPER" type="button" class="btn white-tag btn-lg">Peripherals</button>
      </div>
      <div class="tab-pane" id="unit-tab" role="tabpanel">
        <p>Unit priced tags: Please print these on white tags.</p>
        <button id="UIBKS" class="btn unit-tag btn-lg">Books</button>
        <button id="UIMOV" class="btn unit-tag btn-lg">Movies</button>
        <button id="UIMUS" class="btn unit-tag btn-lg">Music</button>
        <button id="UIBMM" class="btn unit-tag btn-lg">Building Materials</button>
        <button id="UILIT" class="btn unit-tag btn-lg">Lighting</button>
        <button id="UITLS" class="btn unit-tag btn-lg">Tools</button>
        <button id="UIELC" class="btn unit-tag btn-lg">Electronics</button>
        <button id="UIAPL" class="btn unit-tag btn-lg">Appliances</button>
        <button id="UIHOW" class="btn unit-tag btn-lg">Housewares</button>
        <button id="UIJWL" class="btn unit-tag btn-lg">Jewelry</button>
        <button id="UISEA" class="btn unit-tag btn-lg">Seasonal</button>
        <button id="UIACS" class="btn unit-tag btn-lg">Accessories</button>
        <button id="UICLO" class="btn unit-tag btn-lg">Clothing</button>
        <button id="UILIN" class="btn unit-tag btn-lg">Linens</button>
        <button id="UISHO" class="btn unit-tag btn-lg">Shoes</button>
        <button id="UIDWS" class="btn unit-tag btn-lg">Doors/Windows</button>
        <button id="UILUM" class="btn unit-tag btn-lg">Lumber</button>
        <button id="UIHOL" class="btn unit-tag btn-lg">Holiday</button>
        <button id="UIPER" class="btn unit-tag btn-lg">Peripherals</button>
        <button id="UIDES" class="btn unit-tag btn-lg">Desktop</button>
        <button id="UILAP" class="btn unit-tag btn-lg">Laptop</button>
        <button id="UITAB" class="btn unit-tag btn-lg">Smartphone</button>
        <button id="UIOCP" class="btn unit-tag btn-lg">Other Computer</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
