
{% extends 'pricing/spark_base.html' %}

{% block title %}Pricing - RAW Data - {{location}}{% endblock %}


{% block header_title %}Pricing - RAW Data - {{location}}{% endblock %}


{% block active_link %}
<a class="sidebar-link" href="/pricing/portal/trmc"><i class="align-middle mr-2 fas fa-fw fa-home"></i>
  <span class="align-middle">RAW Pricing Data - {{location}}</span>
    <!-- <span class="sidebar-badge badge rounded-pill bg-primary">New</span> -->
  </a>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
    	<div class="card-header">
    		<h5 class="card-title"></h5>
    	</div>
    	<div class="card-body">

        <table id="mainTable" class="table table-sm"><thead><tr><th>Record ID</th><th>Location</th><th>Date/Time (US-Eastern)</th><th>Product Type</th><th>Tag</th><th>Product</th><th>Variant</th><th>Price</th><th>Quantity</th></tr></thead>
          <tbody>
            {% load tz %}
            {% for i in P %}
              <tr>
                <td>{{i.id}}</td>
                <td>{{i.variant__product__location__location}}</td>
                <td>{{i.timestamp | timezone:"US/Eastern"}}</td>
                <td>{{i.variant__product__product_type__product_type}}</td>
                <td>{{i.variant__product__classifier}}</td>
                <td>{{i.variant__product__title}}</td>
                <td>{{i.variant__title}}</td>
                <td>{{i.variant__price}}</td>
                <td>{{i.quantity}}</td>
              </tr>
            {% endfor %}
          </tbody></table>

    	</div>
    </div>
  </div>
</div>
{% endblock %}
