{% extends 'pricing/spark_base.html' %}


{% block title %}Update POS Prices{% endblock %}

{% block header_title %}Update POS Prices - PLEASE USE CAUTION!{% endblock %}



{% block content %}


<div class="row">

  <div class="col">
    <div class="card">
			<h2 class="card-title p-2 text-center">PRICING</h2>
			<div class="card-body {{color_rotations.pricing}}-color">
				<div class="row">
					<div class="col-auto">
					</div>
				</div>
				<h1 class="text-center display-5 my-2">{{color_rotations.pricing}}</h1>
			</div>
      <button class="btn btn-sm btn-dark">ADD TO QUEUE</button>
		</div>
  </div>

  <div class="col">
    <div class="card">
			<h2 class="card-title p-2 text-center">-</h2>
			<div class="card-body {{color_rotations.hold}}-color">
				<div class="row">
					<div class="col-auto">
					</div>
				</div>
				<h1 class="text-center display-5 my-2">{{color_rotations.hold}}</h1>
			</div>
      <button class="btn btn-sm btn-dark">ADD TO QUEUE</button>
		</div>
  </div>

  <div class="col">
    <div class="card">
			<h2 class="card-title p-2 text-center">25% Off</h2>
			<div class="card-body {{color_rotations.25}}-color">
				<div class="row">
					<div class="col-auto">
					</div>
				</div>
				<h1 class="text-center display-5 my-2">{{color_rotations.25}}</h1>
			</div>
      <button class="btn btn-sm btn-dark">ADD TO QUEUE</button>
		</div>
  </div>

  <div class="col">
    <div class="card">
			<h2 class="card-title p-2 text-center">50% Off</h2>
			<div class="card-body {{color_rotations.50}}-color">
				<div class="row">
					<div class="col-auto">
					</div>
				</div>
				<h1 class="text-center display-5 my-2">{{color_rotations.50}}</h1>
			</div>
      <button class="btn btn-sm btn-dark">ADD TO QUEUE</button>
		</div>
  </div>

  <div class="col">
    <div class="card">
			<h2 class="card-title p-2 text-center">75% Off</h2>
			<div class="card-body {{color_rotations.75}}-color">
				<div class="row">
					<div class="col-auto">
					</div>
				</div>
				<h1 class="text-center display-5 my-2">{{color_rotations.75}}</h1>
			</div>
      <button class="btn btn-sm btn-dark">ADD TO QUEUE</button>
		</div>
  </div>

  <div class="col">
    <div class="card">
      <h2 class="card-title p-2 text-center text-danger ">RESET to 0%</h2>
      <div class="card-body {{color_rotations.reset}}-color">
        <div class="row">
          <div class="col-auto">
          </div>
        </div>
        <h1 class="text-center display-5 my-2">{{color_rotations.reset}}</h1>
      </div>
      <button class="btn btn-sm btn-dark">ADD TO QUEUE</button>
    </div>
  </div>


</div>




<div class="row">
  <div class="col">

    <div class="card p-3 my-2">
			<div class="card-header">
				<h5 class="card-title mb-0 h1">QUEUE</h5>
			</div>
			<div class="card-body">
				<p class="card-text">This is queue of product prices to be dropped</p>
        <div class="row mb-3">
          <div class="col">
            <label>Discount Percentage: </label>
            <input class="mx-3" type="number" min=0 max=100 step=1 value=100>
            <button class="btn btn-primary">DROP ALL PRICES IN QUEUE</button>
            <button class="btn btn-success">RESET QUEUE</button>
          </div>
        </div>

        <div class="table-sm">
					<table class="table mb-0">
						<thead>
              <tr>
								<th>Queue Order</th>
								<th>PRODUCT</th>
								<th>SRU Eligible?</th>
								<th>STATUS</th>
							</tr>
						</thead>
						<tbody>

              <tr>
								<td><button type="button" class="btn-sm btn btn-success target_row_del">DEL</button></td>
								<td>{{disount.0}}</td>
                <td><input class="form-check-input" type="checkbox" value="option2"></td>
								<td>200 - OK</td>
							</tr>

						</tbody>
					</table>
				</div>



			</div>
		</div>





    <div class="card p-3 my-4">
			<div class="card-header">
				<h5 class="card-title mb-0 h1">ALL THE PRODUCTS</h5>
			</div>
			<div class="card-body">
				<p class="card-text">Use this menu to find products and ADD THEM TO THE QUEUE.</p>


        <div class="table-sm">
					<table id="allProductsTable" class="table mb-0">
						<thead>
							<tr>
								<th>ID</th>
								<th>Handle</th>
								<th>Location</th>
								<th>Color</th>
                <th>Product_Type</th>
								<th>Category</th>
								<th>ADD TO QUEUE</th>
							</tr>
						</thead>
						<tbody>
              {% for i in all_products %}
              <tr>
								<td>{{i.id}}</td>
								<td>{{i.shopify_handle}}</td>
                <td>{{i.location__location}}</td>
								<td>{{i.classifier}}</td>
                <td>{{i.product_type__product_type}}</td>
								<td>{{i.product_type__category__category}}</td>
                <td><button type="button" class="btn-sm btn btn-primary target_row_del">ADD</button></td>
							</tr>
              {% endfor %}
						</tbody>
					</table>
				</div>



			</div>
		</div>

  </div>
</div>

{% endblock %}



{% block javascript_end %}
<script type="text/javascript">

  $('#allProductsTable').DataTable({'pageLength': 50})

</script>

{% endblock %}
