
<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <meta charset="utf-8">
      <title>ReUse Material Movement Form</title>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
   </head>
   <body>
      <nav class="navbar navbar-dark bg-dark"><span class="navbar-brand mb-0 h1"><div class="container" >ReUse Material Movement Form</div></span></nav>
      <div class="container">
         <p></p>
      </div>
      <div class="container">
         <form class="form-group">
            <div class="row">
               <div class="col">
                  <label>Staff Name:</label>
                  <select class="form-control" id="mName">
                     <option>Scarlet Vincent</option>
                     <option>Lonnie Hinkle</option>
                     <option selected>Bradley Mack</option>
                  </select>
               </div>
               <div class="col form-group"><label>Date of Movement: <a id="mChangeDateLink" href="#">(Change)</a></label>
                 <input id="mDate" type="date" class="form-control" value="{{tDate}}" disabled="disabled"></div>
            </div>
            <div class="row">
              <div class="col form-group"><label>Mode of Transportation: </label><br>
                 <button id="mForkliftButton" type="button" class="btn btn-warning">FORKLIFT</button>
                 <button id="mTruckButton" type="button" class="btn btn-outline-success">TRUCK</button>
                 <button id="mManualButton" type="button" class="btn btn-outline-secondary">MANUAL</button>
                 <div class="form-check form-check-inline" align="center"><input class="form-check-input" type="radio" name="mTrips" id="mOneTripOption" value="one"><label class="form-check-label" for="mOneTripOption">This is ONE Trip</label></div>
                 <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="mTrips" id="mMultipleTripsOption" value="multiple"><label class="form-check-label" for="mMultipleTripsOption">I'm submitting MULTIPLE Trips</label></div>
              </div>
            </div>

            <div class="row">
               <div class="col form-group">
                  <label>Origin: </label><br>
                  <button id="mOriginDonationsButton" type="button" class="btn btn-dark">Donations</button>
                  <button id="mOriginOverflowButton" type="button" class="btn btn-outline-dark">Overflow</button>
                  <button id="mOriginProcessingButton" type="button" class="btn btn-outline-dark">Processing</button>
                  <select class="" id="mOriginLocation" disabled="disabled">
                     <option>(Select Location)</option>
                     <option>Container 1</option>
                     <option>Container 2</option>
                     <option>Container 3</option>
                  </select>
               </div>

            </div>
            <div class="row">
               <div class="col form-group">
                  <label>Destination:</label><br>
                  <button id="mDestinationOverflowButton" type="button" class="btn btn-outline-dark">Overflow</button>
                  <button id="mDestinationProcessingButton" type="button" class="btn btn-dark">Processing</button>
                  <button id="mDestinationWasteButton" type="button" class="btn btn-outline-secondary" disabled="disabled">Waste</button>
                  <select class="" id="mDestinationLocation" disabled="disabled">
                     <option>(Select Location)</option>
                     <option>Container 1</option>
                     <option>Container 2</option>
                     <option>Container 3</option>
                  </select>
               </div>
            </div>
            <div id="RowOne" class="row">
               <div class="col">
                  <label>Material Type:</label>
                  <select class="form-control" id="mMaterial[0]">
                     <option>Small Household</option>
                     <option>Medium Household</option>
                     <option>Furniture</option>
                  </select>
               </div>
               <div class="col">
                  <label>Pallets:</label>
                  <input id="mPallets[0]" type="number" min="0.25" step="0.25" class="form-control" max="10" value="0.25">
               </div>
               <div class="col form-group"><label>Records :</label><br>
                  <button id="mAddRowsButton" type="button" class="btn btn-secondary">+ Add Row</button>
               </div>
            </div>
            <div class="row">
               <div class="col"><button id="mSubmitButton" type="submit" class="btn btn-lg btn-success btn-block">Submit</button></div>
            </div>
         </form>
      </div>
      <div class="container" style="margin-top:3%;">
      <p>Presets: <a href="#">Forklift-Preset</a>, <a href="#">Truck (5F + 1BM)</a>, <a href="#">Lonnie Data-Cabinet</a></p>
   </body>
</html>
<!-- 599D43 -->
