<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <nav class="navbar bg-success"></nav>


    <div class="container text-center mb-5 mt-5">
      <h1>Sign up to be a Super ReUser!</h1>
    </div>

    <div class="mt6 container">
      <form>
        <div class="mb-3">
          <div class="row">
            <div class="col-md-6">
              <label for="firstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="firstName" required>
            </div>
            <div class="col-md-6">
              <label for="lastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="lastName" aria-describedby="firstNameHelp">
            </div>
          </div>
        </div>

        <div class="mb-5">
          <div class="row">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Phone (Optional)</label>
              <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp">
            </div>
            <div class="col-sm-6">
              <label for="lastName" class="form-label">Email Address</label>
              <input type="email" class="form-control" id="lastName" aria-describedby="firstNameHelp">
            </div>
          </div>
        </div>

        <div class="mb-4 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
          <label class="form-check-label" for="exampleCheck1">I agree that information above is accurate and belongs to myself. I authorize Finger Lakes ReUse Inc. to send me promotional emails from time to time.</label>
        </div>
        <div class="mb-3">
          <button type="submit" class="btn-lg btn btn-success">Agree & Submit</button>
        </div>
      </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>

  </body>
</html>
