<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <meta charset="utf-8">
      <title>ReUse Material Movement Form</title>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
   </head>
   <body>
      <nav class="navbar navbar-dark bg-dark"><span class="navbar-brand mb-0 h1"><div class="container" >ReUse Material Movement Form</div></span></nav>
      <div class="container">
         <p></p>
      </div>
      <div class="container">
         <form class="form-group" id="mMainForm" method="post" action="submit/">{% csrf_token %}
           <div id="innerForm">
              <div class="row">
                 <div class="col">
                    <label>Staff Name: </label><a href={% url 'HOME' %}> (change)</a>
                    <select class="form-control" id="mNameFIELD" name="mNameFIELD">
                    </select>
                 </div>
                 <div class="col form-group"><label>Date of Movement: <a id="mChangeDateLink" href="#">(Change)</a></label>
                   <input id="mDateFIELD" name="mDateField" type="date" class="form-control" value="{{tDate}}" disabled="disabled"></div>
              </div>
              <div class="row">
                <div class="col form-group"><label>Mode of Transportation: </label><br>
                   <button id="mForkliftButton" type="button" class="btn btn-sm btn-warning">FORKLIFT</button>
                   <button id="mTruckButton" type="button" class="btn btn-sm btn-outline-success">TRUCK</button>
                   <button id="mManualButton" type="button" class="btn btn-sm btn-outline-secondary">MANUAL</button>
                 </div>
                <div class="col form-group"><br>
                  <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="mTripsFIELD" id="mTripsOne" value="one" disabled><label class="form-check-label" for="mTripsOne">Logging ONE Trip</label></div><br>
                  <div class="form-check form-check-inline"><input class="form-check-input" type="radio" name="mTripsFIELD" id="mTripsMultiple" value="multiple" checked="checked" disabled><label class="form-check-label" for="mTripsMultiple">Logging MULTIPLE Trips</label></div>
                </div>
              </div>

              <div class="row">
                 <div class="col form-group">
                    <label>Origin: </label><br>
                    <button id="mOriginDonationsButton" type="button" class="btn btn-sm btn-dark">Donations</button>
                    <button id="mOriginOverflowButton" type="button" class="btn btn-sm btn-outline-dark">Overflow</button>
                    <button id="mOriginProcessingButton" type="button" class="btn btn-sm btn-outline-dark">Processing</button>
                    <select id="mOriginLocationFIELD" disabled="disabled" name="mOriginLocationFIELD" value="(Select Location)">
                       <option>(Select Location)</option>
                    </select>
                 </div>

              </div>
              <div class="row">
                 <div class="col form-group">
                    <label>Destination:</label><br>
                    <button id="mDestinationOverflowButton" type="button" class="btn btn-sm btn-outline-dark">Overflow</button>
                    <button id="mDestinationProcessingButton" type="button" class="btn btn-sm btn-dark">Processing</button>
                    <button id="mDestinationWasteButton" type="button" class="btn btn-sm btn-outline-secondary" disabled="disabled">Waste</button>
                    <select id="mDestinationLocationFIELD" disabled="disabled" name="mDestinationLocationFIELD">
                       <option>(Select Location)</option>
                    </select>
                 </div>
              </div>
                <div class="row" id="mRowLabels">
                  <div class="col"><label>Material Type:</label></div>
                  <div class="col"><label>Pallets:</label></div>
                  <div class="col"><label>Records :</label></div>
                </div>
              <div class="mRowContainerClass" id="mRowContainer">
                <div id="mRow" class="row mRowClass">
                   <div class="col"><select class="form-control mRowMaterialClass" id="mRowMaterial"></select></div>
                   <div class="col"><input id="mRowPallets" type="number" min="0.25" step="0.25" class="form-control mRowPalletsClass" max="10" value="0.25"></div>
                   <div class="col form-group"><button id="mRowButton" type="button" class="btn btn-secondary mRowButtonClass">+ Add Row</button></div>
                </div>
              </div>
              <div class="row">
                 <div class="col"><button id="mSubmitButton" type="button" class="btn btn-lg btn-success btn-block">Submit</button></div>
              </div>


              <input type="hidden" name="mName" id="mName" value="Bradley Mack">
              <input type="hidden" name="mDate" id="mDate" value="{{tDate}}">
              <input type="hidden" name="mMode" id="mMode" value="forklift">
              <input type="hidden" name="mTrips" id="mTrips" value="one">
              <input type="hidden" name="mOrigin" id="mOrigin" value="donations">
              <input type="hidden" name="mOriginLocation" id="mOriginLocation" value="(Select Location)">
              <input type="hidden" name="mDestination" id="mDestination" value="processing">
              <input type="hidden" name="mDestinationLocation" id="mDestinationLocation" value="(Select Location)">
              <input type="hidden" name="mMaterial" id="mMaterial" value="">
              <input type="hidden" name="mHidden" id="mHidden" value="production">
              <input type="hidden" name="mTimestamp" id="mTimestamp" value="{{tTimestamp}}">

            </div>
            <div id="outerForm">
            </div>
         </form>
      </div>

      <nav id="mFooter" class="navbar fixed-bottom navbar-light bg-light">
        <a style="color:grey" id="mTestModeButton">(Enable Test Mode)</a>
      </nav>
     </div>


      <script type="text/javascript">







      // 1  - - FUNCTION DECLARATION - - //

      function StaffListFunction() {
        $('#mNameFIELD').html('')
        StaffList = ['{{tName}}']
        for(i=0;i<StaffList.length;i++){ $('#mNameFIELD').append("<option>" + StaffList[i] + '</option>') }
      }


      function OriginContainerListFunction() {
        $('#mOriginLocationFIELD').html('')
        ContainerList = ['IRC','TRC','RCH', '700','Outdoor','E1','E2','E3','E3','E4','E5','E6','E7','E8','W1','W2','W3','W4','W5',]
        for(i=0;i<ContainerList.length;i++){ $('#mOriginLocationFIELD').append("<option>" + ContainerList[i] + '</option>') }
      }

      function DestinationContainerListFunction() {
        $('#mDestinationLocationFIELD').html('')
        ContainerList = ['IRC','TRC','RCH', '700','Outdoor','E1','E2','E3','E3','E4','E5','E6','E7','E8','W1','W2','W3','W4','W5']
        for(i=0;i<ContainerList.length;i++){ $('#mDestinationLocationFIELD').append("<option>" + ContainerList[i] + '</option>') }
      }

      function OriginLocationsListFunction() {
        $('#mOriginLocationFIELD').html('')
        LocationsList = ['IRC','TRC','RCH', '700','PU']
        for(i=0;i<LocationsList.length;i++){ $('#mOriginLocationFIELD').append("<option>" + LocationsList[i] + '</option>') }
      }

      function DestinationLocationsListFunction() {
        $('#mDestinationLocationFIELD').html('')
        LocationsList = ['IRC','TRC','RCH', '700']
        for(i=0;i<LocationsList.length;i++){ $('#mDestinationLocationFIELD').append("<option>" + LocationsList[i] + '</option>') }
      }

      function DonationsMaterialListFunction(){
        $('#mRowMaterial').html('')
        DonationsMaterialList = ['Small Household','Medium Household', 'Furniture', 'Small Building Material', 'Medium Building Material', 'Large Building Material (LY)', 'Electronics', 'Computers (Data)', 'Lighting', 'Clothes', 'Linens', 'Bags / Suitcases', 'Art / Frames', 'Jewellery', 'Books', 'Shoes / Purses', 'Seasonal', 'Media']
        for(i=0;i<DonationsMaterialList.length;i++){ $('#mRowMaterial').append("<option>" + DonationsMaterialList[i] + '</option>') }
      }

      function mRowButtonPress(callingRowIndex){
          lastRowIndex = $('.mRowButtonClass').length -1
          if(lastRowIndex === callingRowIndex){
            // $('#mRow').clone().appendTo('#mRowContainer')
            $('#mRowContainer').append(newRowHtml)
            $('.mRowButtonClass').off()
            $('.mRowButtonClass').click(function(){mRowButtonPress($('.mRowButtonClass').index(this))})
            for(i=0;i<=lastRowIndex;i++) {
              $('.mRowButtonClass').eq(i).text('DELETE')
            }
          }
          else{
            $('.mRowClass').eq(callingRowIndex).remove()
          }
        }







      // 2  - - EVENT LISTERS + BUTTON CLICK FUNCTIONS - - //

      $('#mChangeDateLink').click(function(){
        $('#mDateFIELD').prop('disabled',false)
        $('#mChangeDateLink').remove()
      })

      $('#mForkliftButton').click(function(){
        $('#mForkliftButton').addClass('btn-warning')
        $('#mForkliftButton').removeClass('btn-outline-warning')
        $('#mTruckButton').addClass('btn-outline-success')
        $('#mTruckButton').removeClass('btn-success')
        $('#mManualButton').addClass('btn-outline-secondary')
        $('#mManualButton').removeClass('btn-secondary')
        $('#mMode').val('forklift')
        $('#mTripsMultiple').prop('checked',true)
        $('#mTripsOne').prop('disabled',true)
        $('#mTripsMultiple').prop('disabled',true)
      })
      $('#mTruckButton').click(function(){
        $('#mForkliftButton').addClass('btn-outline-warning')
        $('#mForkliftButton').removeClass('btn-warning')
        $('#mTruckButton').addClass('btn-success')
        $('#mTruckButton').removeClass('btn-outline-success')
        $('#mManualButton').addClass('btn-outline-secondary')
        $('#mManualButton').removeClass('btn-secondary')
        $('#mMode').val('truck')
        $('#mTripsOne').prop('checked',true)
        $('#mTripsOne').prop('disabled',true)
        $('#mTripsMultiple').prop('disabled',true)
      })
      $('#mManualButton').click(function(){
        $('#mForkliftButton').addClass('btn-outline-warning')
        $('#mForkliftButton').removeClass('btn-warning')
        $('#mTruckButton').addClass('btn-outline-success')
        $('#mTruckButton').removeClass('btn-success')
        $('#mManualButton').addClass('btn-secondary')
        $('#mManualButton').removeClass('btn-outline-secondary')
        $('#mMode').val('manual')
        $('#mTripsMultiple').prop('checked',true)
        $('#mTripsOne').prop('disabled',false)
        $('#mTripsMultiple').prop('disabled',false)
      })


      $('#mOriginDonationsButton').click(function(){
        $('#mOriginDonationsButton').removeClass('btn-outline-dark')
        $('#mOriginDonationsButton').addClass('btn-dark')
        $('#mOriginOverflowButton').removeClass('btn-dark')
        $('#mOriginOverflowButton').addClass('btn-outline-dark')
        $('#mOriginProcessingButton').removeClass('btn-dark')
        $('#mOriginProcessingButton').addClass('btn-outline-dark')
        $('#mOriginLocationFIELD').prop('disabled',false)
        $('#mOriginLocationFIELD option').eq(0).prop('selected',true)
        $('input[name=mOrigin]').val('donations')
        OriginLocationsListFunction()
      })
      $('#mOriginOverflowButton').click(function(){
        $('#mOriginDonationsButton').removeClass('btn-dark')
        $('#mOriginDonationsButton').addClass('btn-outline-dark')
        $('#mOriginOverflowButton').removeClass('btn-outline-dark')
        $('#mOriginOverflowButton').addClass('btn-dark')
        $('#mOriginProcessingButton').removeClass('btn-dark')
        $('#mOriginProcessingButton').addClass('btn-outline-dark')
        $('#mOriginLocationFIELD').prop('disabled',false)
        $('#mOriginLocationFIELD option').eq(0).prop('selected',true)
        $('input[name=mOrigin]').val('overflow')
        OriginContainerListFunction()
      })
      $('#mOriginProcessingButton').click(function(){
        $('#mOriginDonationsButton').removeClass('btn-dark')
        $('#mOriginDonationsButton').addClass('btn-outline-dark')
        $('#mOriginOverflowButton').removeClass('btn-dark')
        $('#mOriginOverflowButton').addClass('btn-outline-dark')
        $('#mOriginProcessingButton').removeClass('btn-outline-dark')
        $('#mOriginProcessingButton').addClass('btn-dark')
        $('#mOriginLocationFIELD').prop('disabled',false)
        $('#mOriginLocationFIELD option').eq(0).prop('selected',true)
        $('input[name=mOrigin]').val('processing')
        OriginLocationsListFunction()
      })


      $('#mDestinationOverflowButton').click(function(){
        $('#mDestinationOverflowButton').removeClass('btn-outline-dark')
        $('#mDestinationOverflowButton').addClass('btn-dark')
        $('#mDestinationProcessingButton').removeClass('btn-dark')
        $('#mDestinationProcessingButton').addClass('btn-outline-dark')
        // Waste Button curently disabled
        $('#mDestinationLocationFIELD').prop('disabled',false)
        $('#mDestinationLocationFIELD option').eq(0).prop('selected',true)
        $('input[name=mDestination]').val('overflow')
        DestinationContainerListFunction()
      })
      $('#mDestinationProcessingButton').click(function(){
        $('#mDestinationOverflowButton').removeClass('btn-dark')
        $('#mDestinationOverflowButton').addClass('btn-outline-dark')
        $('#mDestinationProcessingButton').removeClass('btn-outline-dark')
        $('#mDestinationProcessingButton').addClass('btn-dark')
        // Waste Button curently disabled
        $('#mDestinationLocationFIELD').prop('disabled',false)
        $('#mDestinationLocationFIELD option').eq(0).prop('selected',true)
        $('input[name=mDestination]').val('processing')
        DestinationLocationsListFunction()
      })


      $('#mTestModeButton').dblclick(function(){
        if($(this).html()=='(Enable Test Mode)'){
          $(this).html('TEST MODE ACTIVE, THIS SUBMISSION WILL NOT BE STORED!')
          $('#mFooter').removeClass('bg-light')
          $('#mFooter').addClass('bg-warning')
          $('#mHidden').val('test')
        }else{
          $(this).html('(Enable Test Mode)')
          $('#mFooter').removeClass('bg-warning')
          $('#mFooter').addClass('bg-light')
          $('#mHidden').val('production')
        }
      })


      $('.mRowButtonClass').click(function(){mRowButtonPress($('.mRowButtonClass').index(this))})


      $('#mSubmitButton').click(function(){
        RowCount = $('.mRowButtonClass').length
        var MaterialArray = []
        for(i=0;i<RowCount;i++){
          $('input[name=mMaterial]').val(MaterialArray)
          CurrentRow = Array($('.mRowMaterialClass').eq(i).val() , $('.mRowPalletsClass').eq(i).val())
          MaterialArray.push(CurrentRow)
        }
        //GENERATE the HIDDEN VALUES for the form to submit seemlessly
          $('#mMaterial').val(JSON.stringify(MaterialArray))
          $('#mDate').val($('#mDateFIELD').val())
          $('#mName').val($('#mNameFIELD').val())
          $('#mTrips').val($('[name=mTripsFIELD]:checked').val())
          $('#mOriginLocation').val($('#mOriginLocationFIELD').val())
          $('#mDestinationLocation').val($('#mDestinationLocationFIELD').val())
          //DIABLE the dropdowns (incase of a BACK or REFRESH LOOK)
          $('#mOriginLocationFIELD').prop('disabled',true)
          $('#mOriginLocationFIELD option').eq(0).prop('selected',true)
          $('#mDestinationLocationFIELD').prop('disabled',true)
          $('#mDestinationLocationFIELD option').eq(0).prop('selected',true)
          $('#outerForm').html('<h4><div align="center"><br>FORM SUBMISSION COMPLETED...<br>Please Refresh page to submit another entry!<br></div></h4>')
          $('#innerForm').toggle()
          $('#mMainForm').submit()
        })









      // 3  - - AUTO RUN ON LOAD SCRIPT / FUNCTIONS - - //


      DonationsMaterialListFunction()
      newRowHtml = $(mRowContainer).html()

      StaffListFunction()


      $('#mOriginLocationFIELD').prop('disabled',true)
      $('#mOriginLocationFIELD option').eq(0).prop('selected',true)
      $('#mDestinationLocationFIELD').prop('disabled',true)
      $('#mDestinationLocationFIELD option').eq(0).prop('selected',true)

      $('#mForkliftButton').click()
      $('#mOriginDonationsButton').click()
      $('#mDestinationProcessingButton').click()

      </script>
   </body>
</html>
