{% extends 'pricing/spark_base.html' %}

{% block title %}Overflow State{% endblock %}


{% block header_title %}Overflow State{% endblock %}


{% block active_link %}
{% endblock %}



{% block content %}

<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="card pt-3">
      <div class="card-body">
      <h3>TITLE</h3>
      <div class="row">
        <div class="col form-group mt-3">
            <!-- <button id="salesfloor" type="button" class="btn btn-lg btn-outline-dark target_origin_type">Sales Floor</button> -->
        </div>
       </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}



{% block javascript_end %}

{% endblock %}
