<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <meta charset="utf-8">
      <title>ReUse Material Movement Form</title>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
   </head>
   <body>
      <nav class="navbar navbar-dark bg-dark"><span class="navbar-brand mb-0 h1"><div class="container" >ReUse Material Movement Form</div></span></nav>
      <div class="container">
         <p></p>
      </div>
      <div class="container">
            <div id="outerForm">
                <h2><div align="center"><br>Your submission was successful!<br><br>THANK YOU!<br></div><br></h2><br>
            </div>
          <div class="row">
             <div class="col"><form method="get" action="../"><button id="SubmitAnother" type="submit" class="btn btn-lg btn-success btn-block">Submit Another</button></form></div>
          </div>
          <br><br><br><p style="color:grey"><strong>Submission Timestamp: </strong>{{message}}</p>
      </div>
      <div class="container" style="margin-top:3%;">
      </div>
   </body>
</html>
