{% extends 'pricing/spark_base.html' %}

{% block title %}Quickbooks Gift Cards - LOOKUP{% endblock %}


{% block header_title %}Quickbooks Gift Cards - LOOKUP{% endblock %}



{% block active_link %}
<a class="sidebar-link" href="/pricing/portal/trmc"><i class="align-middle mr-2 fas fa-fw fa-home"></i>
  <span class="align-middle">TRMC Pricing Portal</span>
    <span class="sidebar-badge badge rounded-pill bg-primary">New</span></a>
{% endblock %}



{% block content %}


<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title"></h5>
        <h6 class="pt-3 card-subtitle text-muted">Please scan this code in at the time of checkout (Gift card payment type)</h6>
      </div>
      <div class="card-body align-center" id="datamatrix_target">

        <h6>Customer Name</h6>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header"><h3 class="card-title">ACCESS LOG FOR THIS GIFTCARD</h3></div>
      <div class="card-body align-center">
        <table class="table">
          <thead>
            <tr>
              <th style="width:40%;">Date / Time</th>
              <th class="d-none d-md-table-cell" style="width:25%">Staff ID</th>
            </tr>
          </thead>
          <tbody id='giftcard_access_log'>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header"><h3 class="card-title">ACCESS LOG FOR [STAFF MEMBER]</h3></div>
      <div class="card-body align-center">
        <table class="table">
          <thead>
            <tr>
              <th style="width:40%;">Date / Time</th>
              <th class="d-none d-md-table-cell" style="width:25%">Staff ID</th>
            </tr>
          </thead>
          <tbody id='giftcard_access_log'>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>




{% endblock %}




{% block javascript_end %}
{% load static %}
<script type="text/javascript" src="{% static 'qbgiftcard/datamatrix.min.js' %}"></script>


<script type="text/javascript">
  // let customer_dict = {{customer_dict | safe}}
$('#datamatrix_target').html(DATAMatrix('shopify-giftcard-v1-' + '{{gift_card_code}}'))
</script>





{% endblock %}
